<!DOCTYPE HTML>
<html>
<head>
    <title>Challenge app</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel='stylesheet' type='text/css' href='main.css'/>
    <!-- jquery from cdn at (mt) Media Temple -->
    <script type='text/javascript' src='jquery-3.5.1.min.js'></script>
    <script type='text/javascript' src='jquery.soap.js'></script>
    <script type="text/javascript" src="jquery.base64.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
</head>

<body>
<div id="container">
    <div>
        <h2>Challenge app</h2>
    </div>
    <hr>
    <div id="warning_message" style="display: none;">
        <p id="warn_msg_txt"></p>
    </div>

    <div id="form_frame">
        <div id="form_request">
            <form>

                <label for="first_name">Имя</label>
                <input class="field" id="first_name" type="text">


                <label for="last_name">Фамилия</label>
                <input id="last_name" type="text">


                <label for="patr_name">Отчество</label>
                <input class="field" id="patr_name" type="text">


                <label for="doc_number">Номер паспорта</label>
                <input class="field" id="doc_number" type="text">


                <label for="doc_series">Серия паспорта</label>
                <input class="field" id="doc_series" type="text">


                <label for="doc_issue_date">Дата выдачи паспота</label>
                <input class="field" id="doc_issue_date" type="text">

                <hr>

                <button id="soap">Soap</button>
            </form>
        </div>
        <div id="form_response">
            <div>Response</div>
            <textarea id="response" rows="15"></textarea><br/>
            <input type="button" id="dwn_btn" value="Download" style="display: none;"/>
        </div>
    </div>
</div>
</body>
</html>